header{
     width: 100%;
     transition: all 0.6s;
     background-color: transparent;
     top: 0;
     left: 0;
     z-index: 999;
    nav{
      .upper_div{
         >div{
            a{
                font-size: 1.4rem;
                font-weight: 500;
            }
         }
      } 
      .lower_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            img{
                width: 100%;
            }
        }
        ul{
            display: flex;
            gap: 3rem;
            li{
                font-size: 1.5rem;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                position: relative;
                &::after{
                  content: "";
                  position: absolute;
                  bottom: 10%;
                  left: 0;
                  width: 5%;
                  height: 4px;
                }
                &:hover::after{
                  width: 100%;
                  background-color: #DEB666;
                  transition: all 0.5s;
                }
            }
            .book_now_btn{
              background-color: #DEB666;
              padding: 0.5rem 1.4rem 0.1rem 1.4rem;
              border-radius: 2px;
              letter-spacing: 0;
            }
            @media screen and (max-width:1000px){
                display: none;
              }
        }
        .ham_burger_menu{
          display: none;
          background-color: white;
          border-radius: 4px;
          padding: 0.5rem;
          color: black;
          @media screen and (max-width:1000px){
             display: block;
          }
        }
      }
    }
    .mobile_nav{
      width: 300px;
      height: 100vh;
      position: fixed;
      background-color: rgb(255, 255, 255);
      right: 0;
      top: 0;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      z-index: 999;
      li{
        font-size: 1.5rem;
        font-weight: 900;
        color: rgb(101, 101, 101);
      }
    }
   
}