.welcome_section{
    .welcome_container{
        position: relative;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 2rem;
        z-index: 2;
        @media (width<800px) {
            .form_wrapper{
                display: none;
            }
        }
        
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            // background-color: rgba(0, 0, 0, 0.674);
            background: linear-gradient(160deg, rgb(7, 0, 1), rgba(47, 3, 89, 0.2));
            top: 0;
            left: 0;
            opacity: 0.6;
            z-index: -1;
            // animation: dayight 15s linear infinite alternate;
            // @keyframes dayight {
            //     0%{
            //         opacity: 0;

            //     }
            //     100%{
            //         opacity: 1.2;

            //     }
            // }
        }
     
    }
}
.rooms_section{
    background-color: #ffffff;
    h2{
        font-family: "Raleway",sans-serif;
        letter-spacing: 0.2rem;
    }
    .favorite_rooms{
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        @media (max-width:500px) {
           gap: 1.4rem;
        }
        .rooms_cards{
            width: 100%;
            @media (max-width:500px) {
              width: 100%;
            }
            img{
                width: 100%;
            }
        }
    }
}
.service_section{
     background-color: #F5F5F5;
     h2{
        font-family: "Raleway",sans-serif;
        letter-spacing: 0.2rem;
    }
     .service_container{
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        @media (max-width:500px) {
            gap: 1.4rem;
         }
        // @media (max-width:1024px) {
        //      width: 95%;
            
        // }
     }
}
.news_section{
    background-color: #ffffff;
     h2{
        font-family: "Raleway",sans-serif;
        letter-spacing: 0.2rem;
    }
     .news_container{
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        @media (max-width:500px) {
            gap: 1.4rem;
        }
        .news_event_cards{
            width: 100%;
            img{
                 width: 100%;
                 height: 100%;
                @media (max-width:764px) {
                    width: 100%;
                    height: 210px;
                }
            }
        }
     }
}
.video_section{
   .video_preview{
    position: relative;
    width: 100%;
    height: 450px;
    // background-image: url("../assets/videoimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
     content: "";
     width: 100%;
     height: 100%;
     background: linear-gradient(rgb(245, 153, 170),rgb(175, 175, 243));
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0.3;
     z-index: -1;
    }
    @media (max-width:600px) {
        height: 280px;
    }
   }
   .video_container{
    width: 100%;
    height: 100%;
    background-color: rgb(16, 17, 16);
    display: flex;
    flex-direction: column;
    position : absolute;
    top: 0;
    left: 0;
    video{
     width: 100%;
     height: 100%;
    }
   }
}
.visit_place_section{
    background-color: #F5F5F5;
    .visit_place_container{   
       display: flex;
       flex-direction: column;
       gap: 3rem;
       @media (max-width:500px) {
        gap: 1rem;
     }
       .temple_cards{
        position: relative;
        width: 100%;
        box-shadow: 0 0 25px rgb(155, 154, 154);
        overflow: hidden;
        border-radius: 12px;
        margin-top: 2rem;
        padding: 0.4rem;
        .shree_ram{
            position: absolute;
            background: linear-gradient(rgba(255, 192, 203, 0.474),rgba(255, 255, 255, 0.392));
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateY(100%);
            transition: all 0.8s;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover .shree_ram{
               transform: translateY(0);
               opacity: 1;
        }
  
        img{
            width: 100%;
            height: 100%;
            border-radius: 12px;
            object-fit: cover;
        }
       }
    }
}
.location_contact_section{
    background-color: #ffffff;
    h2{
        font-family: "Raleway",sans-serif;
        letter-spacing: 0.2rem;
    }
    .contact_container{
       display: flex;
       flex-direction: column;
       gap: 3.2rem;
       @media (width<768px) {
        gap: 1.4rem;
     }
    }
}

.book_form{
  display: none;
    @media (width < 800px) {
         display: block;
    }
}

