@import "./header.scss";
@import "./home.scss";
@import "./footer.scss";
@import "./about.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
  font-size: 64.5%;
  font-family: "Lato";
  scroll-behavior: smooth;
}

.bg_salmon{
    overflow-y: hidden;
}